*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html{
    font-size: 62.5%;
}

p,a,li{
    font-size: 1.8rem;
    color: black;
    letter-spacing: .1rem;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container{
    max-width: 122rem;
    margin: 0 auto;
    padding: 6.4rem 2.4rem;
}

.grid{
    display: grid;
    align-items: center;
    gap: 3rem;
}

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

.grid-three--cols{
    grid-template-columns: repeat(3,1fr);
}

.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}

.grid-three---cols{
    grid-template-columns: 1.5fr 1.5fr 1fr;
}

/*start of header section*/

.section-header{
    background-color: #171616;
    position: sticky;
    top: 0;
    z-index: 1;

    & .header-container{
        max-width: 122rem;
        margin: 0 auto;
        padding: 2rem 2.4rem; 
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .header-logo{
            width: 200px;
            height: 65px;
            & .image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .header-nav ul{
            display: flex;
            gap: 2rem;

            & li a{
                color: #fff;
                text-transform: uppercase;
                transition: all .1s linear;
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                -ms-transition: all .1s linear;
                -o-transition: all .1s linear;

                &:hover{
                    color:#ffcf17;
                }

            }

            & li{
                & .active{
                    color:#ffcf17;
                }
            }


        }

        & .header-links{
            display: flex;
            gap: 2rem;

            & a{
                font-size: 1.8rem;
                color: #fff;
                cursor: pointer;
            }

            & .fa-brands{
                transition:all .3s linear ;
                -webkit-transition:all .3s linear ;
                -moz-transition:all .3s linear ;
                -ms-transition:all .3s linear ;
                -o-transition:all .3s linear ;
            }

            & .fa-brands:hover{
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                color: #ffcf17;
            }
        }
    }
}


/*end of header section*/

/*start of hero section*/

.section-hero{
    background-image: linear-gradient(rgba(2,0,11,0.5)),url('./images/heroimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container{
        & h3{
            color: #fff;
            text-transform: capitalize;
            font-size: 2.5rem;
            letter-spacing: .1rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: 1rem;

        }

        & h1{
            color: #fff;
            text-transform: uppercase;
            font-size: 5rem;
            margin-bottom: 1rem;
            text-shadow: 2px 2px 5px #000;
            text-align: center;

        }

        & p{
            color: #fff;
            text-transform: capitalize;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        & .btns{
            display: flex;
            justify-content: center;
            gap: 2rem;
            & button{
                background-color: transparent;
                border: .1px solid #fff;
                color: #fff;
                text-transform: uppercase;
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 500;
                border-radius: 3rem;
                -webkit-border-radius: 3rem;
                -moz-border-radius: 3rem;
                -ms-border-radius: 3rem;
                -o-border-radius: 3rem;
                transition: all .1s linear;
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                -ms-transition: all .1s linear;
                -o-transition: all .1s linear;
                cursor: pointer;

                &:hover{
                    background-color: #fff;
                    color: black;
                }

            }
        }
    }

}



/*end of hero section*/

/*start of features section*/

.section-features .container{
    & .card{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        min-height: 38rem;
        position: relative;
        & .card-image{
            width: 100%;
            margin-bottom: 4rem;
            
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .icon{
            width: 9rem;
            height: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 35%;
            left: 35%;
            background-color: #fff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           
            & .fa-solid{
                font-size: 3rem;
                color: #fcaf17;
            }

        }

        & .card-content{
            margin-top: 8rem;
            & h6{
                text-align: center;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            & p{
                text-align: center;
                text-transform: capitalize;
            }
        }
    }

}


/*end of features section*/

/*start of career courses section*/

.section-career--courses{
    & .container{
        padding: 4rem 2.4rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }
   & .bottom .container .card{
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       max-height: 50rem;
       min-height: 49rem;

    & .card-image{
        width: 100%;
        margin-bottom: 2rem;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .card-content{
        padding: 1.5rem;
        & h3{
            text-align: center;
            text-transform: capitalize;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
        & p{
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 1.5rem;
            text-transform: capitalize;
        }

        & p:nth-of-type(1){
            color: #1e1c1c;
            font-weight: 700;

        }

        
        & p:nth-of-type(2){
            & span{
                font-weight: 800;
            }
          

        }

        & .timing{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #e6e6e6;
            margin-top: 2rem;


            & .para{
                margin-top: rem;
                border-top: 1px solid #e6e6e6;

                & .spn{
                    font-weight: 700;
                    font-size: 1.3rem;  
                    text-transform: capitalize;
                    color: #1e1c1c;
                }
            }
          
        }

      
    }

   }

   & .bottom .container .card:nth-of-type(1){
    & .progress{
        background-color: #e9ecef;
        width: 100%;
        height: 2rem;
        margin-block: 1rem;
       & .progress-bar{
        background-color: #f7b205;
        width: 78%;
        height: 2rem;
       }
    }

   }

   & .bottom .container .card:nth-of-type(2){
    & .progress{
        background-color: #e9ecef;
        width: 100%;
        height: 2rem;
        margin-block: 1rem;
       & .progress-bar{
        background-color: #f7b205;
        width: 70%;
        height: 2rem;
       }
    }

   }

   & .bottom .container .card:nth-of-type(3){
    & .progress{
        background-color: #e9ecef;
        width: 100%;
        height: 2rem;
        margin-block: 1rem;
       & .progress-bar{
        background-color: #f7b205;
        width: 65%;
        height: 2rem;
       }
    }

   }

   & .bottom .container .card:nth-of-type(4){
    & .progress{
        background-color: #e9ecef;
        width: 100%;
        height: 2rem;
        margin-block: 1rem;
       & .progress-bar{
        background-color: #f7b205;
        width: 60%;
        height: 2rem;
       }
    }

   }

   & .bottom .container .card{
    & .progress{
        margin-bottom: 1rem;
    }
   }
}

/*end of career courses section*/

/*start of short courses section*/
.section-short--courses{
    & .container{
        padding: 10rem 2.4rem 12rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of short courses section*/

/*start of online courses section*/
.section-online--courses{
    background-image: linear-gradient(rgba(2,0,11,0.7)),url('./images/post5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    & .container{
        & h2{
            text-align: center;
            text-transform: capitalize;
            font-size: 3.5rem;
            color: #fff;
            margin-bottom: 1rem;
        }

        & p{
            text-transform: capitalize;
            color: #fff;
            font-size: 2rem;

        }

    }
}

/*end of online courses section*/

/*start of upcoming events courses section*/

.section-upcomingEvents--courses{
    & .container{
        & h2{
            text-align: center;
            margin-bottom: 1rem;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 3.5rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;

        }

        & .btns{
            display: flex;
            justify-content: center;
            align-items: center;

            & button{
                background-color: transparent;
                border: none;
                background-color: #f7b205;
                padding: 1rem 2rem ;
                text-transform: capitalize;
                font-size: 2rem;
                cursor: pointer;
                border-radius: .1rem;
             
            }
        }
    }
}

/*end of  upcoming events courses section*/

/*start what people say of upcoming events courses section*/
.section-whatPeopleSay--courses{
    background-image: linear-gradient(rgba(2,0,11,0.7)),url('./images/post5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    & .containers:first-of-type{
        padding-inline: 2.4rem;
        padding-top:8rem;
        padding-bottom:5rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            color: #fff;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
            color: #fff;
        }
    }

    & .bottom{
        & .container{
            padding-inline:2.4rem ;
            gap: 6rem;
            & .content-1--div{
                background-color: #fff;
                padding: 2rem;
                border-radius: .5rem;
                & h6{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.8rem;
                    text-transform: capitalize;
                }

                & .para{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                    text-transform: capitalize;

                }

                & p{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                    text-transform: capitalize;


                }
              

            }

            & .content-2--div{
                background-color: #fff;
                padding: 2rem;
                border-radius: .5rem;
                & h6{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.8rem;
                    text-transform: capitalize;
                }

                & .para{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                    text-transform: capitalize;

                }

                & p{
                    color: #000;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                    text-transform: capitalize;


                }
              

            }
        }

    }
}

/*end of what people say courses section*/

/*start of successful placement section*/
.section-successful--placement{
    & .container{
        padding: 10rem 2.4rem 12rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of successful placement section*/

/*start of Onlinevarsity section*/
.section-OnlineVarsity{
    background-image: linear-gradient(rgba(2,0,11,0.8)),url('./images/post5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container{
        & h2{
            text-align: center;
            margin-bottom: 1rem;
            color: #fff;
            font-size: 4rem;

        }

        & h6{
            text-align: center;
            margin-bottom: 1rem;
            color: #fff;
            font-size: 2.5rem;
            text-transform: capitalize;

        }

        & p{
            text-align: center;
            color: #fff;
            margin-bottom: 2rem;
            line-height: 2;
            
        }

        & .btns{
            display: flex;
            justify-content: center;
            align-items: center;
            & button{
                background-color: #f7b205;
                border: none;
                text-transform: capitalize;
                padding: 1rem 2rem;
                font-size: 2rem;
                cursor: pointer;


            }
        }
    }
}


/*end of Onlinevarsity section*/

/*start of student of month section*/

.section-student-of--month{
    & .container{
        padding: 10rem 2.4rem 5rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of student of month section*/

/*start of student of month section*/

.section-our--connects{
    & .container{
        padding: 10rem 2.4rem 5rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of student of month section*/

/*start of project of month section*/

.section-project-of--month{
    & .container{
        padding: 10rem 2.4rem 5rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of project of month section*/

/*start of winner circle section*/

.section-winner--circle{
    & .container{
        padding: 10rem 2.4rem 5rem;
        & h2{
            font-size: 3.5rem;
            text-transform: capitalize;
            font-weight: 400;
            border-left: 6px solid #f7b205;
            padding-left: 1rem;
            margin-bottom: 2rem;
            & span{
                font-weight: 700;
            }
        }

        & p{
            text-transform: capitalize;
        }
    }

}

/*end of winner circle  section*/

/*start of footer section*/
.section-footer{
    & .footer-top{
        background-color: #121921;
        
        & .footer-top--container{
            max-width: 122rem;
            margin: 0 auto;
            padding: 2rem 2.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .logo{
                width: 200px;
                height: 65px;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
            & .icon{
                display: flex;
                gap: 2rem;
    
                & a{
                    font-size: 1.8rem;
                    color: #fff;
                    cursor: pointer;
                }
    
                & .fa-brands{
                    transition:all .3s linear ;
                    -webkit-transition:all .3s linear ;
                    -moz-transition:all .3s linear ;
                    -ms-transition:all .3s linear ;
                    -o-transition:all .3s linear ;
                }
    
                & .fa-brands:hover{
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    color: #ffcf17;
                }

            }

        }
    }

    & .footer-bottom{
        background-color: #121921;
        .footer-bottom--container{
            max-width: 122rem;
            margin: 0 auto;
            padding-inline:2.4rem;
            padding-top: 5rem;
            padding-bottom: 2rem;
            gap: 2rem;

            & .footer-div--1{
                & h6{
                    color: #fff;
                    font-size: 1.6rem;
                    margin-bottom: 2rem;
                    letter-spacing: .1rem;
                    text-transform: capitalize;

                }
                & p{
                    color: #fff;
                    font-size: 1.5rem;
                    margin-bottom: 2.5rem;

                }

                & input{
                    padding: 1rem;
                    font-size: 1.5rem;
                    border: none;
                    outline: none;
                    text-transform: capitalize;
                    width: 28rem;
                    background-color:#0e141a;
                    height: 5rem;
          

                    &:focus{
                        background-color: #fff;
                    }
                }
                
               & .arrow{

                background-color: #fcaf17;
                width: 5rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 50px;
                left: 250px;
         
                
              
                & .fa-solid{
                   font-size: 2.5rem;
                   cursor: pointer;
                }
                
               }
            }

            & .footer-div--2{
                & .grid{
                    gap: 1rem;
                    
                    & .div--1{
                        height: 26rem;
                        .wrapper{
                            padding: 1rem;
                        }
        
                        & h6{
                            color: #fff;
                            font-size: 1.5rem;
                            margin-bottom: 5rem;
                            text-transform: capitalize;
                        }

                        & .list li{
                            color: #fff;
                            font-size: 1.4rem;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            transition: all .1s linear;
                            -webkit-transition: all .1s linear;
                            -moz-transition: all .1s linear;
                            -ms-transition: all .1s linear;
                            -o-transition: all .1s linear;

                            &:hover{
                                color: #ffcf17;
                            }


                        }

                    }

                    & .div--2{
                        height: 26rem;
                        .wrapper{
                            padding: 1rem;
                        }
                        & h6{
                            color: #fff;
                            font-size: 1.5rem;
                            margin-bottom: 5rem;
                            text-transform: capitalize;
                        }

                        & .list li{
                            color: #fff;
                            font-size: 1.4rem;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            transition: all .1s linear;
                            -webkit-transition: all .1s linear;
                            -moz-transition: all .1s linear;
                            -ms-transition: all .1s linear;
                            -o-transition: all .1s linear;

                            &:hover{
                                color: #ffcf17;
                            }


                        }

                    }

                    & .div--3{
                        height: 26rem;
                        .wrapper{
                            padding: 1rem;
                        }

 
                        & h6{
                            color: #fff;
                            font-size: 1.5rem;
                            margin-bottom: 5rem;
                            text-transform: capitalize;

                        }

                        & .list li{
                            color: #fff;
                            font-size: 1.4rem;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            transition: all .1s linear;
                            -webkit-transition: all .1s linear;
                            -moz-transition: all .1s linear;
                            -ms-transition: all .1s linear;
                            -o-transition: all .1s linear;

                            &:hover{
                                color: #ffcf17;
                            }
                        }
                    }
                }
            }

            & .footer-div--3{
                height: 24rem;


                & h6{
                    color: #fff;
                    font-size: 1.5rem;
                    margin-bottom: 5rem;
                    text-transform: capitalize;

                }
                & .list{
                    display: flex;
                    gap: .5rem;
                    cursor: pointer;
                    & .img-box{
                        width: 6rem;
                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                & .list:first-of-type{
                    margin-bottom: .5rem;
                }
            }

           

        }

    }

}


/*end of footer section*/

/*start of media queries section*/
@media (width<=1100px) {
    html{
        font-size: 56.25%;
    }
    
}



@media (width<=1015px) {
    .footer-bottom{
        & .grid-three---cols{
            grid-template-columns:1fr 1fr ;
            row-gap: 0;

            & .footer-div--1{
                grid-column-start: 1;
                grid-column-end: -1;
            
            }
        }

    }

    .section-footer {
        & .footer-bottom {
            & .footer-bottom--container {
                & .footer-div--1 {
                    & input {
                       
                        width: 48rem;
 
                    }
                    & .arrow {
                        left: 480px;
                    }
                }

                & .footer-div--3 {
                    justify-self: center;
                    & .list {
                        & .img-box {
                            width: 8rem;
                        }
                    }
                }
            }
        }
    }
    
}

@media (width<=993px) {

    
}

@media (width<=992px) {
    html{
        font-size: 53.125%;
    }
    
}

@media (width<=789px) {
    .footer-bottom {
        & .grid-three---cols {
            grid-template-columns: 1fr;
        }
    }

    .section-footer {
        & .footer-bottom {
            & .footer-bottom--container {
                gap: 0rem;
                & .footer-div--3 {
                    justify-self: start;
                    & .list {
                        & .img-box {
                            width: 10rem;
                        }
                    }
                }
                & .footer-div--2 {
                    & .grid {
                        & .div--3 {
                            .wrapper {
                                padding: 0rem;
                            }
                        }
                        & .div--1 {
                            .wrapper {
                                padding: 0rem;
                            }
                        }
                        & .div--2 {
                            .wrapper {
                                padding: 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media (width<=600px) {
    .section-footer {
        & .footer-bottom {
            & .footer-bottom--container {
                & .footer-div--1 {
                    & input {
                        width: 28rem;
                    }
                    & .arrow {
                        left: 250px;
                    }
                }
            }
        }
    }
    
}